.nav-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.nav-list {
  display: inline-block;
  background: transparent;
  font-size: 2rem;
}

a {
  padding: 1rem;
  text-decoration: none;
}

a:visited {
  color: $color-green;
}

.nav-list a:hover {
  border:2px solid $color-salmon;
  color: $color-green;
}


@media(min-width: 600px) {

  .nav-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  .nav-list {
    display: inline-block;
    background: transparent;
    padding: .5rem 1rem;
    font-size: 2rem;
  }

  .nav-list a:hover {
    border:2px solid $color-salmon;
      color: $color-green;
  }
}

@media(min-width: 850px) {

  .nav-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  .nav-list {
    display: inline-block;
    background: transparent;
    font-size: 2rem;
  }

  .nav-list a:hover {
    border:2px solid $color-salmon;
      color: $color-green;
  }

}
