.header {
  background: white;
  color: $color-lightgreen;
  border-bottom: 3px solid $color-gray;
  padding: .2rem;

}

.nav-container {
  display: inline-block;
  position: absolute;
  top: 24rem;
  left: 0.5rem;
  font-size:1.7rem;
}

.nav-list {
  display: inline-block;
  background: transparent;
  margin: 0rem 1rem;
}

a {
  text-decoration: none;
}

a:visited {
color: $color-green;
}

.nav-list:hover {
  border: 2px solid $color-salmon;
  color: $color-gray;
}


@media(min-width: 600px) {

  .nav-container {
    display: inline-block;
    float: right;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    font-size: .7rem;
}
    .nav-list {
      display: inline-block;
      background: transparent;
      padding: .5rem 1rem;
      font-size: 1.5rem;
    }
    .nav-list:hover {
      border:2px solid $color-gold;
      color: $color-gray;
    }
}

@media(min-width: 850px) {

  .nav-container {
    display: inline-block;
    top: 26rem;
    left: 30.5rem;
    position: absolute;
    font-size: .7rem;
  }
  .nav-list {
    display: inline-block;
    background: transparent;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
  }

  .nav-list:hover {
    border:2px solid $color-salmon;
    color: $color-gray;
  }

}
