.header {
  background: white;
  color: #393845;
  border-bottom: 3px solid darkgray;
  padding: .2rem;

}

.loggedIn-navContainer {
  margin: 0;
  padding: 0;
}

.app-title {
  display: inline-block;
  font-size: 1.5rem;
  color: #393845;
  margin-left: 1rem;
}

.nav-container {
  display: inline-block;
  float: right;
  margin-top: 1.1rem;
  font-size: .7rem;
}

.nav-list {
  display: inline-block;
  background: transparent;
  margin: .3rem;
}

a {
  color: #393845;
  text-decoration: none;
}

a:visited {
  color: #393845;
}

a:hover {
  color: #127ebf;
}

.logout-button {
  background: transparent;
  color: #393845;
  border: 0;
  font-family: Times;
}

.gym-logo {
  position: relative;
  top: .5rem;
  left: .5rem;
}

@media(min-width: 600px) {
  .app-title {
    display: inline-block;
    font-size: 2rem;
    color: #393845;
    margin-left: 1rem;
  }

  .nav-container {
    display: inline-block;
    float: right;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    font-size: .7rem;
  }
  .nav-list {
    display: inline-block;
    background: transparent;
    margin: .5rem 1rem;
    font-size: 1rem;
  }
  .logout-button {
    background: transparent;
    color: #393845;
    border: 0;
    font-family: Times;
    font-size: 1rem;
  }

}

@media(min-width: 850px) {
  .nav-container {
    display: inline-block;
    float: right;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    font-size: .7rem;
  }
  .nav-list {
    display: inline-block;
    background: transparent;
    margin: .5rem 1rem;
    font-size: 1.5rem;
  }
  .logout-button {
    background: transparent;
    color: #393845;
    border: 0;
    font-family: Times;
    font-size: 1.5rem;
  }
}
