.landing-page-container {
  display: inline-block;
  width: 100%;
}
.main-container{
  text-align: center;
}

.landing-logo {
  display: block;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  width: 85%;
}


@media(min-width:600px) {
.landing-page-container{
  display: inline-block;
  width: 100%;
  }
}

@media(min-width: 850px){

.landing-page-container {
  display: inline-block;
  width: 100%;
  }
}
