$color-gold: #C6A661;
$color-lightgreen: #D7E9DE;
$color-green: #B4DDB4;
$color-salmon: #FA998D;
$color-pink: #FACABF;
$color-gray: #5E6160;

$black: #111;
$radius: 4px;
$transition: all .25s ease-in-out;
